/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: 5px;
}

/* Navbar container styling */
.navbar {
  background-color: #004d40;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;

}

/* Navbar list style */
.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: 90px;
}

/* Navbar links styling */
.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  margin-left: 23px;
}

.navbar-links li a:hover {
  color: #f39c12; /* Change color on hover */
}
